
header {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
#first-header {
    background-color: black;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: stretch;
    position: relative;
}

.atencio {
    background-color: rgb(131, 2, 2);
    width: 15%;
    height: 30px;
    text-align: center;
    margin-right: 10%;
    color: antiquewhite;
    size: 2.54px;
}

#xarxes {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 0;
    height: 20px;
    display: block;
    margin-left: -110px;
    margin-right: 210px;
}

.fa {
    border-radius: 35px;
    background: white;
    padding: 0px;
    width: 30px;
    height: 29px;
}

.in {
    border-radius: 35px;
    background: white;
    padding: 0px;
    width: 30px;
    height: 29px;
}

.tw {
    border-radius: 35px;
    background: white;
    padding: 0px;
    width: 30px;
    height: 29px;
}

#second-header {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.logo-ajuntament {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 298px;
}

.web-oficial {
    margin-left: 25px;
}

.menu-second-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 42px;
    margin-right: 203px;
}

.menu {
    margin-right: 15px;
}

.list {
    margin-right: 10px;
}

.lupa {
    margin-left: 15px;
    margin-right: 10px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-picture {
    background-image: url('../Recrear_pagina_web/Pictures/jafre.jpg');
    background-color: #02020271;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.background-picture2 {
    background-color: #0000004d;
    height: 650px;
    position: relative;
    width: 100%;
}

.left-text {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.troba {
    font-size: 50px;
    margin-top: 10px;
}

.right-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 300px;
    width: 350px;
    margin-left: 1070px;
    margin-top: 140px;
    margin-right: 800px;
}

.buscador {
    overflow: hidden;
    display: flex;
    
}

.submit {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
}

.mes-buscat {
    display:flex;
    font-weight: bold;
    margin-left: -83px;
}

.buscat {
    display: flex;
    margin-top: 2px;
    margin-bottom: 6px;
    margin-left: -83px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buscat:hover {
    text-decoration: underline;
    color: black;
}

.picture-table {
    display: flex;
    color: white;
    padding-top: 50px;
    margin-left:424px;
}

.table {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    border: 2px solid white;
    border-right: none;
    height: 46px;
    width: 210px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

.table:hover {
    background-color: red;
}

.border-right{
    border-right: 2px solid white;
}

.tot-el-que-necessites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: whitesmoke;
}

.tittle {
    font-size: 35px;
    margin-left: 298px;
}

.botons {
    display: flex;
    margin-left: 298px;
    margin-bottom: 40px;
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 50px;
    width: 250px;
    margin-left: 15px;
}

.buttonRed {
    background-color: red;
    color: whitesmoke;
    border: 2px solid red;
}

.buttonWhite {
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
}

.buttonWhite:hover {
    background-color: whitesmoke;
    color: red;
    border: 2px solid red;
}

.taula{
    margin-left: 315px;
}

.info {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }
  
.top {
    height: 20px;
}

.top:hover {
    color: red;
    text-decoration: underline;
}
  
.bottom {
    height: 50px;
    width: 400px;
    border-bottom: 20px solid whitesmoke;
}

.top, .bottom {
    border-right: 20px solid whitesmoke;
}

.agenda-actualitat {
    display: flex;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 315px;
}

.agenda {
    font-size: 35px;
    font-weight: bold;
}

.taula2 {
    text-align: left;
    width:600px
}

.red {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.dark {
    color: #333;
    font-size: 18px;
}

.dark:hover{
    color: red;
    text-decoration: underline;
}

.bottom2 {
    height: 50px;
    width: 400px;
    border-bottom: 20px solid white;
    font-size: 18px;
    font-weight: bold;
}

.buttonRed2{
    background-color: red;
    color: whitesmoke;
    border: 2px solid red;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 40px;
}

.buttonRed2:hover{
    background-color: white;
    color: red;
}


.right-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.actualitat {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.small2 {
    color: #555;
    size: 4px;
    margin-bottom: 2px;

}

.small2:hover {
    color: red;
    text-decoration: underline;
}

.small {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    color: #2D2E40;
}

.dark2 {
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.separator {
    width: 580px;
    height: 1px;
    background-color: #999;
}

.formulari{
    background-color: #2B2B2b;
    color: white;
    padding: 70px 0;
}

.subscriure{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 197px;
    margin-left: 186px;
    margin-right: 186px;
    padding-left: 40px;
    padding-right: 40px;
}

.novetats{
    display: flex;
    font-size: 33px;
    text-align: center;
    width: 500px;
}

.maybe-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
}

.alvaro{
    margin-left: 20px;
}

#name{
    border: 1px solid white;
    border-radius: 5px;
    height: 45px;
    width: 85%;
    margin: 30px 0 0 0;
    padding: 0 15px;
}

#email{
    border: 1px solid white;
    border-radius: 5px;
    height: 45px;
    width: 85%;
    margin: 30px 0 0 0;
    padding: 0 15px;
}

.maybe-secondflex{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: 0;
}

.maybe-thirdflex{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    box-sizing: border-box;
}


/* .novetats{
    font-size: 33px;
    text-align: center;
}

.personal-info {
    display: flex;
    height: 150px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}

.register {
    font-size: 16px;
    margin: 4px 2px;
    height: 50px;
    width: 250px;    
}

#name {
    border: 1px solid white;
    border-radius: 5px;
    height: 45px;
    width: 85%;
    margin: 5px 0;
    padding: 0 15px;
}

#email {
    border: 1px solid white;
    border-radius: 5px;
    height: 45px;
    width: 85%;
    margin: 5px 0;
    padding: 0 15px;
} */